{% extends "template.html" %}

{% block title %}Authorized{% endblock%}

{% block maintitle %}
Authorization OK
{% endblock %}

        {% block nav %}
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/features/">Features</a>
        <a class="nav-link" href="/contacts/">Contact</a>
        {% endblock %}


{% block body %}
<h2>Hello, {{ athlete }}!</h2>
<p class="lead">App is connected to your Strava profile, now you can select additional metrics
    to be added to your activities description. The temperature is always displayed by default.</p>
    <form action="/final/" method="post">
        <fieldset>
            <legend>Select metrics:</legend>
            <label for="temp"><input type="checkbox" name="temp" disabled checked/>&nbsp;temperature,</label>&nbsp;&nbsp;
            <label for="humidity"><input type="checkbox" name="humidity" checked/>&nbsp;humidity,</label>&nbsp;&nbsp;
            <label for="wind"><input type="checkbox" name="wind" checked/>&nbsp;wind,</label>&nbsp;&nbsp;
            <label for="aqi"><input type="checkbox" name="aqi" checked/>&nbsp;air&nbsp;quality.</label><br>
            <label for="lan">Select language:
            <select id="lan" name="lan">
                <option value="ru" selected>русский</option>
                <option value="en">english</option>
            </select></label><br><br>
            <input type="submit" value="Save settings">
        </fieldset>
    </form>
{% endblock %}
