{% extends "template.html" %}

{% block title %}Authorized{% endblock %}

{% block maintitle %}
    Hello, {{ athlete }}!
{% endblock %}


{% block body %}
    <p class="lead">App is now connected to your Strava profile. Select your desired units.</p>
    <form action="/final/" method="post">
        <fieldset style="margin-bottom:2rem;">
            <legend>Select options</legend>
            <div class="user-selection">
                <label for="units">Units:
                    <select id="units" name="units">
                        <option value="imperial" selected>imperial</option>
                        <option value="metric">metric</option>
                    </select></label><br/>
            </div>
        </fieldset>
        <input type="submit" value="Save settings" style="margin-bottom:1rem">
    </form>
{% endblock %}
