{% extends "template.html" %}

{% block title %}Contacts{% endblock%}

{% block maintitle %}
Contacts
{% endblock %}

{% block nav %}
<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="/features/">Features</a>
<a class="nav-link active" href="/contacts/">Contact</a>
{% endblock %}

{% block body %}
<p class="lead">Feel free to contact me</p>
<p class="lead">
    <a href="https://www.strava.com/athletes/2843469">on Strava </a>
    <a href="http://strava.com/athletes/2843469" class="strava-badge- strava-badge-follow" target="_blank">
        <img src="/static/echelon-sprite-16.png" alt="Strava" /></a>
    <br>
    <a href="https://www.instagram.com/urka_runner/">on Instagram </a>
    <img src="/static/insta.ico" width="18px" alt="Instagram">
    <br>
    <a href="https://github.com/vol1ura">on my GitHub </a>
    <img src="/static/favicon-dark.png" width="16px" alt="GitHub">
</p>
{% endblock %}
