{% extends "template.html" %}

{% block title %}Features{% endblock%}

{% block maintitle %}
Main features:
{% endblock %}

        {% block nav %}
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link active" href="/features/">Features</a>
        <a class="nav-link" href="/contacts/">Contacts</a>
        {% endblock %}


{% block body %}
<ul class="lead">
    <li>You will get brief description of weather condition.</li>
    <li>No fees, no advertising, no branding and any additional marks.</li>
    <li>Your own workout description will be saved and added to the description as well.</li>
    <li>You can select the metrics to be used in the description.</li>
    <li>Air quality and pollution measurement data. <a href="https://ru.qaz.wiki/wiki/Particulates">See about scales.</a></li>
    <li>You can select language -  russian or english.</li>
    <li>You can suggest your wishes and new ideas. I will try to take them into account and implement them if I can.
    See my contact info.</li>
    <li>Completely Open Source project - modify and use it as you need.
        In particular, you can deploy this application as your own private app with your custom weather server and
        personal API tokens.</li>
</ul>
{% endblock %}
